@font-face {
  font-family: "CenturyGothic";
  src: url("CenturyGothic-Regular.ttf");
}

$main-font: "CenturyGothic", sans-serif;
$logo-size: 8rem;
$burger-size: 50px;

@mixin burger() {
  width: 50px;
  height: 6px;
  background: #272727;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  display: grid;
  grid-template-rows: $logo-size auto auto fit-content(8rem);
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
  padding: 0;
}

.main-header {
  height: $logo-size;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 40rem) {
    justify-content: space-between;
  }
}

.main-header__logo {
  img {
    margin: auto;
    height: $logo-size;
  }

  @media (min-width: 40rem) {
    margin: auto;
  }
}

.toggle-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 3px solid #272727;
  transition: all 0.5s ease-in-out;
}

.toggle-button__burger {
  width: 50px;
  height: 6px;
  background: #272727;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #272727;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  &::before {
    transform: translateY(-16px);
  }

  &::after {
    transform: translateY(16px);
  }
}

.toggle-button.open-burger .toggle-button__burger {
  transform: translateX(-50px);
  background: transparent;
}

.toggle-button.open-burger .toggle-button__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.toggle-button.open-burger .toggle-button__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.mobile-nav {
  display: none;
  opacity: 0;
  transition: all 300ms ease-out;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
}

.open-nav {
  display: block !important;
  grid-area: menu;
  opacity: 1;
}

.main-nav {
  display: none;
}

main {
  padding: 50px;
  background-color: aqua;
  grid-area: main;
}

footer {
  grid-area: footer;
}
